body {
	font-family: OpenSans;
	color:	#464646;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	
}

b {
	font-family: Gilroy;
	color: #000000;
	font-size: 47px;
	font-weight: 700;
}

.bold {
	font-family: Gilroy;
	color: #000000;
	font-size: 18px;
	font-weight: 700;
}